run = "npm run dev"
entrypoint = "main.js"

hidden = [".config", ".gitignore"]
modules = ["nodejs-22"]

[nix]
channel = "stable-24_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
deploymentTarget = "static"
build = ["npm", "run", "build"]
publicDir = "dist"

[[ports]]
localPort = 5173
externalPort = 80
