@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcf5eb;
    position: relative;
  }

  .active-menu, .active-chat {
    background-color: #8d8c8c59;
    color: #111;
  }

  #tabsContainer li.active {
    background-color: #0a332b;
    color: #0aa17f;
  }

  #chatListView .chat-list::-webkit-scrollbar, #contactListView .content::-webkit-scrollbar, #addContactToGroup .content::-webkit-scrollbar, #content #contentBody::-webkit-scrollbar {
    width: 6px;
  } 
   
  #chatListView .chat-list::-webkit-scrollbar-track, #contactListView .content::-webkit-scrollbar-track, #addContactToGroup .chat-list::-webkit-scrollbar-track, #content #contentBody::-webkit-scrollbar-track {
    background: none;
  }

  #chatListView .chat-list::-webkit-scrollbar-thumb, #contactListView .content::-webkit-scrollbar-thumb, #addContactToGroup .content::-webkit-scrollbar-thumb, #content #contentBody::-webkit-scrollbar-thumb {
    background: #374045;
    border-radius: 5px;
  }

  #chatListView .chat-list-item:hover .context-btn {
    @apply block;
  }

  
}
